@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load Custom Font */
@font-face {
  font-family: "LetsBakeMuffins";
  src: url("/fonts/lets-bake-muffins.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Define Global Font Variables */
:root {
  --font-title: "LetsBakeMuffins", cursive;
  --font-montserrat: "Montserrat", sans-serif;
}

.width-container {
  max-width: 1280px;
}

body {

  font-family: var(--font-montserrat); /* Default font */
  background: #ffffff;
  color: #171717;
  overflow-x: hidden;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}